<div class="customer-checkout">
    <div class="customer-checkout-container">
        <h1 class="checkout-header">View, Edit, or Cancel Reservation</h1>
        <div *ngIf="service.reserveConfirmation" class="reserve-confirmation">
            <div class="bold">Reservation Successful!</div>
            <div>Check Email for Reservation Summary.</div>
            <table class="line-space" >
                <thead>
                    <tr>
                        <th scope="col">Reservation ID</th>
                        <th scope="col">Customer ID</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td scope="row">{{reservation.id}}</td>
                        <td scope="row">{{reservation.customer.id}}</td>
                    </tr>                            
                </tbody>
            </table>
        </div>
        <div class="review-container">
            <div class="customer-form-container">
                <div class="form-header">
                        <h4 class="section-title">Reservation Details</h4>
                        <div style="display:flex">
                        <button *ngIf="!this.service.editing" class="edit-button" (click)="enableEditing()">edit</button>
                        <button *ngIf="this.service.editing" class="cancel-button" (click)="cancelEditing()">Cancel</button>
                    </div>
                </div>
                <div class="customer-form">
                    <form class="example-form" name="customer-form" id="customer-form">
                        <table class="example-full-width" cellspacing="0">
                            <tr>
                                <td>
                                    <mat-form-field class="example-full-width" appearance="fill">
                                        <mat-label>First name</mat-label>
                                        <input matInput name="first-name" [(ngModel)]="customerArray.firstName"
                                            disabled>
                                    </mat-form-field>
                                </td>
                                <td>
                                    <mat-form-field class="example-full-width" appearance="fill">
                                        <mat-label>Last Name</mat-label>
                                        <input matInput name="last-name" [(ngModel)]="customerArray.lastName" disabled>

                                    </mat-form-field>
                                </td>
                            </tr>
                        </table>

                        <table class="example-full-width" cellspacing="0">
                            <tr>
                                <td>
                                    <mat-form-field class="example-full-width" appearance="fill">
                                        <mat-label>Email</mat-label>
                                        <input matInput name="email" [(ngModel)]="customerArray.email" disabled>
                                    </mat-form-field>
                                </td>
                            </tr>
                        </table>

                        <table class="example-full-width" cellspacing="0">
                            <tr>
                                <td>
                                    <mat-form-field class="example-full-width" appearance="fill">
                                        <mat-label>Phone Number</mat-label>
                                        <input matInput name="phoneNumber" [(ngModel)]="customerArray.phoneNumber"
                                            disabled>
                                    </mat-form-field>
                                </td>
                                <td>

                                    <mat-form-field class="example-full-width" appearance="fill">
                                        <mat-label>Date of Birth</mat-label>
                                        <input matInput name="dateOfBirth" [(ngModel)]="customerArray.dateOfBirth"
                                            disabled>
                                    </mat-form-field>


                                </td>
                            </tr>
                        </table>


                    </form>
                    <table class="example-full-width" cellspacing="0">
                        <div *ngIf="showError" class="error-message"><span>Please Pick valid dates</span></div>

                        <tr>
                            <td>
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>Choose a date</mat-label>
                                    <input matInput [matDatepicker]="picker" [min]="today"
                                        (dateInput)="updateDateStart($event.value)" [(ngModel)]="dateStartAlter"
                                        name="startDate" required [disabled]="!this.service.editing">
                                    <mat-hint>MM/DD/YYYY</mat-hint>
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                </mat-form-field>
                            </td>
                            <td>

                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>Choose a date</mat-label>
                                    <input matInput [matDatepicker]="picker1" [min]="today"
                                        (dateInput)="updateDateEnd($event.value)" [(ngModel)]="dateEndAlter"
                                        name="endDate" required [disabled]="!this.service.editing">
                                    <mat-hint>MM/DD/YYYY</mat-hint>
                                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                    <mat-datepicker #picker1></mat-datepicker>
                                </mat-form-field>


                            </td>
                        </tr>
                    </table>
                    <table class="example-full-width" cellspacing="0">
                        <div *ngIf="showErrorCar" class="error-message"><span>Please choose a valid car</span></div>
                        <tr>
                            <td>
                                <button [disabled]="!this.service.editing" class="changeCar" (click)="redirect()">Change Car</button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="reservation-container">
                <div class="reservation-times">
                    <div class="left-side">
                        <div class="pickup">
                            <div class="type">Pick-up</div>
                            <div class="location"></div>
                            <div class="date"> {{dateStart}}</div>
                        </div>
                    </div>
                    <div class="right-side">
                        <div class="dropoff">
                            <div class="type">Drop-off</div>
                            <div class="location"></div>
                            <div class="date">{{dateEnd}}</div>
                        </div>
                    </div>
                </div>
                <div class="reserved-vehicle">
                    <div class="vehicle-header">{{reservation.car.make}} {{reservation.car.model}}
                        {{reservation.car.year}}</div>
                    <div class="vehicle-img-container"><img class="vehicle-img"
                            src="../../assets/images/default-car.png" alt=""></div>

                </div>
            </div>

            <div class="price-info">
                <div class="price-header">
                    <h2 class="total-label">Est. Total</h2>
                    <h2 class="total">400.00 USD</h2>
                </div>
                <div class="price-pickup">
                    <p class="total-label">Charged At Pickup</p>
                    <p class="total">400.00 USD</p>
                </div>
                <div class="rate-details"></div>
                <div class="button-space"><button class="select-btn" form="customer-form"
                        (click)="updateReservation(reservation)" [hidden]="!this.service.editing">Update Reservation</button></div>
                <div class="button-space"><button class="delete-btn" form="customer-form"
                        (click)="deleteReservation(reservation.id)" [hidden]="!this.service.editing">Delete Reservation</button></div>

            </div>

        </div>
    </div>
</div>