.customer-checkout{
    background-color: #FFF;
    margin: 0 auto;
    position: relative;
    height: 100%;
    width: 100%;

}

.customer-checkout .customer-checkout-container{
    padding:20px;
}
.customer-checkout .customer-checkout-container .review-container {
    display: flex;
    margin-top: 100px;
}
.customer-checkout .customer-checkout-container .review-container .customer-form-container {
    box-shadow: 0px 2px 8px rgb(0 0 0 / 16%);
    border-radius: 4px;
    border: 1px solid #D7D8D8;
    background-color: #fff;
    width: fit-content;
    margin: 0 20px;
}
.customer-checkout .customer-checkout-container .review-container .customer-form-container .form-header{
    border-bottom: 6px solid #0E67B4;
    align-items: center;
    display: flex;
}
.customer-checkout .customer-checkout-container .customer-form-container .form-header h4{
    padding-left: 15px;
}
.customer-checkout .customer-checkout-container .customer-form-container .customer-form{
    padding: 15px;
}
.customer-checkout .customer-checkout-container .review-container .reservation-container{
    box-shadow: 0px 2px 8px rgb(0 0 0 / 16%);
    border-radius: 4px;
    border: 1px solid #D7D8D8;
    background-color: #fff;
    width: fit-content;
    align-items: center;
    margin: 0 20px;
}
.customer-checkout .customer-checkout-container .review-container .reservation-container .reservation-times{
    display: flex;
    padding: 30px;
}
.customer-checkout .customer-checkout-container .review-container .reservation-container .reservation-times .left-side,.right-side{
    border: 1px solid #E6E7EB;
    width: 250px;
}
.customer-checkout .customer-checkout-container .review-container .reservation-container .reserved-vehicle{
    
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

td {
  padding-right: 8px;
}

.customer-checkout .customer-checkout-container .review-container .price-container{
    box-shadow: 0px 2px 8px rgb(0 0 0 / 16%);
    border-radius: 4px;
    border: 1px solid #D7D8D8;
    background-color: #fff;
    width: -webkit-fill-available;
    align-items: center;
    margin: 0 20px;
}
.customer-checkout .customer-checkout-container .review-container .price-container .price-info{
    
}
.customer-checkout .customer-checkout-container .review-container .price-container .price-header{
    display: flex;
    align-items: center;
}
.customer-checkout .customer-checkout-container .review-container .price-container .price-pickup{
    display: flex;
    align-items: center;
}
.customer-checkout .customer-checkout-container .review-container .price-container .price-header .total-label{
    width: 180px;
}
.customer-checkout .customer-checkout-container .review-container .price-container .price-pickup .total-label{
    width: 180px;
}
button {
    display: inline-block;
    font-weight: bold;
    padding: 8px 15px;
    margin-bottom: 0;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    border: none;
    color: #FFF;
    line-height: 1.625;
}
.select-btn{
    min-width: 165px;
    min-height: 65px;
    font-size: 18px!important;
    border-radius: 5px;
    color: #fff;
    background-color: #0E67B4;
    border: 2px solid #0E67B4;
    cursor: pointer;
}
.select-btn:hover{
    box-shadow: 0px 2px 8px rgb(0 0 0 / 16%);
}
.checkout-header{
    margin: 0 0 0 20px;
}
