.home {
    position: relative;
    height: 100%;
    width: 100%;
}
.content-container{
    position: relative;
    height: 100%;
}
.form-section{
    position: absolute;
    z-index: 5;
}
.bold{
    font-weight: bold;
}
.reservation-form-container{
    /* min-width: 1400px; */
    padding: 20px 15px 10px;
    margin-top: 60px;
    width: 100%;
}
.reservation-header {
    position: relative;
    z-index: 2;
}
.reservation-header h1{
    margin-bottom: 30px;
    color: #fff;
    font-size: 50px;
    font-weight: normal;
}
.reservation-form{
    max-width: 100%;
    min-height: 150px;
    padding: 30px 40px;
    background: #FFF;
    position: relative;
    border-bottom: 6px solid #0E67B4;
    border-radius: 12px;
    margin: 5px;
    
}
.update-form{
    max-width: 100%;
    min-height: 100px;
    padding: 30px 40px;
    background: #FFF;
    position: relative;
    border-bottom: 6px solid #0E67B4;
    border-radius: 12px;
    margin: 5px;
    
}
.delete-form{
    max-width: 100%;
    min-height: 35px;
    padding: 30px 40px;
    background: #FFF;
    position: relative;
    border-bottom: 6px solid #0E67B4;
    border-radius: 12px;
    margin: 5px;
    
}
.content-row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: center;
}
.clear-button{
    color: #000;
}
.form-field{
    margin-right: 20px;
}
button {
    display: inline-block;
    font-weight: bold;
    padding: 8px 15px;
    margin-bottom: 0;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    border: none;
    color: #FFF;
    line-height: 1.625;
}
.submit{
    min-width: 165px;
    min-height: 65px;
    font-size: 18px!important;
    border-radius: 5px;
    color: #fff;
    background-color: #0E67B4;
    border: 2px solid #0E67B4;
    cursor: pointer;
}

.change-view{
    min-width: 150px;
    min-height: 30px;
    font-size: 14px!important;
    border-radius: 5px;
    color: #0E67B4;
    background-color: #fff;
    border: 1px solid #0E67B4;
    cursor: pointer;
}

.submit:hover{
    box-shadow: 0px 2px 8px rgb(0 0 0 / 16%);
}
.background-img{
    position: static;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.background-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.main-background {
    height: 100%;
}
.manage-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}
.manage-row .left-side{
display: flex;
}
.manage-row .right-side{
display: flex;
}
.manage-row .right-side .link{
    color: #365ad8;
    text-decoration: none;
}
thead,
tfoot {
    background-color: #fff;
    color: #000;
}

tbody {
    background-color: #fff;
}

caption {
    padding: 10px;
    caption-side: bottom;
}

table {
    border-collapse: collapse;
    border: 2px solid #fff;
    border-radius: 5px;
    letter-spacing: 1px;
    font-size: .9rem;
}

td,
th {
    border: 1px solid #fff;
    padding: 5px 10px;
}

td {
    text-align: center;
}